@{
    ViewData["Title"] = "בית";
}

<div class="text-center">
    <h1 class="display-4">ברוכים הבאים לספריית קודקוד</h1>
</div>


<link rel="stylesheet" href="/css/site.css" />

<style>
    .color {
        color: lightblue;
    }
</style>
    
<div class="content" >
    <h1 class="display-4 color" ></h1>
</div>