@model MyLibrary.Models.Shelf

@{
    ViewData["Title"] = "Create";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
    TempData["ErrorMessage"] = null;
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
    TempData["SuccessMessage"] = null;
}
<h1>יצירת מדף</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShelfWidth" class="control-label"></label>
                <input asp-for="ShelfWidth" class="form-control" />
                <span asp-validation-for="ShelfWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShelfHeight" class="control-label"></label>
                <input asp-for="ShelfHeight" class="form-control" />
                <span asp-validation-for="ShelfHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class ="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id=@Model.GenreId>חזרה לרשימה</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
